.text-left {
  text-align: left !important;
}

.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right !important;
}

/******border.less CSS********
|--仅仅边框border宽度
|--仅仅边框border颜色
|--1px不同边框border
|--1px各方向边框border-不同颜色
|--边框border-继承颜色
|--没有边框border-none
===============================*/
/*仅仅边框border宽度*/
.border0 {
  border: none !important;
}

.border1 {
  border-width: 1px !important;
}

.border2 {
  border-width: 2px !important;
}

.border3 {
  border-width: 3px !important;
}

.border4 {
  border-width: 4px !important;
}

.border5 {
  border-width: 5px !important;
}

.border6 {
  border-width: 6px !important;
}

.border7 {
  border-width: 7px !important;
}

.border8 {
  border-width: 8px !important;
}

.border9 {
  border-width: 9px !important;
}

.border10 {
  border-width: 10px !important;
}

/***************仅仅边框border颜色*********************/
.borderColor-fff {
  border-color: #fff;
}

.borderColor-333 {
  border-color: #333;
}

.borderColor-555 {
  border-color: #555;
}

.borderColor-666 {
  border-color: #666;
}

.borderColor-999 {
  border-color: #999;
}

.borderColor-ccc {
  border-color: #ccc;
}

.borderColor-eee {
  border-color: #eee;
}

.borderColor-ddd {
  border-color: #ddd;
}

.borderColor-blue {
  border-color: #0a669b;
}

.borderColor-green {
  border-color: #008000;
}

.borderColor-red {
  border-color: #FF0000;
}

.borderColor-yellow {
  border-color: #f5bc24;
}

.borderColor-orange {
  border-color: #FFA500;
}

.color-e {
  color: #2c3e50;
}

/**
COLOR
*/
.color-fff {
  color: #fff;
}

.color-orange {
  color: #FFA500;
}

.color-red {
  color: #FF0000;
}


/**********1px不同边框border*************/
.border-333 {
  border: 1px solid #333 !important;
  border-color: #333;
}

.border-555 {
  border: 1px solid #555 !important;
  border-color: #555;
}

.border-666 {
  border: 1px solid #666 !important;
  border-color: #666;
}

.border-999 {
  border: 1px solid #999 !important;
  border-color: #999;
}

.border-ccc {
  border: 1px solid #ccc !important;
  border-color: #ccc;
}

.border-eee {
  border: 1px solid #eee !important;
  border-color: #eee;
}

.border-ddd {
  border: 1px solid #ddd !important;
  border-color: #ddd;
}

.border-blue {
  border: 1px solid #0a669b !important;
  border-color: #0a669b;
}

.border-green {
  border: 1px solid #008000 !important;
  border-color: #008000;
}

.border-red {
  border: 1px solid #FF0000 !important;
  border-color: #FF0000;
}

.border-yellow {
  border: 1px solid #f5bc24 !important;
  border-color: #f5bc24;
}

.border-orange {
  border: 1px solid #FFA500 !important;
  border-color: #FFA500;
}

/****************1px各方向边框border-不同颜色******************/
.border-t-ccc {
  border-top: 1px solid #ccc !important;
}

.border-b-ccc {
  border-bottom: 1px solid #ccc !important;
}

.border-t-ddd {
  border-bottom: 1px solid #ddd !important;
}

.border-b-ddd {
  border-bottom: 1px solid #ddd !important;
}

.border-t-eee {
  border-top: 1px solid #eee !important;
}

.border-b-eee {
  border-bottom: 1px solid #eee !important;
}

.border-l-ccc {
  border-left: 1px solid #ccc !important;
}

.border-r-ccc {
  border-right: 1px solid #ccc !important;
}

.border-l-ddd {
  border-left: 1px solid #ddd !important;
}

.border-r-ddd {
  border-right: 1px solid #ddd !important;
}

.border-l-eee {
  border-left: 1px solid #eee !important;
}

.border-r-eee {
  border-right: 1px solid #eee !important;
}

/******************边框border-继承颜色**********************/
.border-t-initial {
  border-top: 1px solid transparent;
  border-top-color: initial;
}

.border-b-initial {
  border-bottom: 1px solid transparent;
  border-bottom-color: initial;
}

.border-l-initial {
  border-top: 1px solid transparent;
  border-left-color: initial;
}

.border-r-initial {
  border-right: 1px solid transparent;
  border-right-color: initial;
}

/******************没有边框border-none*******************/
.border-t-no {
  border-top: none;
}

.border-b-no {
  border-bottom: none;
}

.border-l-no {
  border-top: none;
}

.border-r-no {
  border-bottom: none;
}

.border0 {
  border: none !important;
}

/******color.less CSS********
|--背景色
|--阴影色
===============================*/
/*背景色*/
.bg-fff {
  background-color: #fff !important;
}

.bg-f1 {
  background-color: #f1f1f1 !important;
}

.bg-f7 {
  background-color: #F7F7F7 !important;
}

.bg-000 {
  background-color: #000000 !important;
}

.bg-333 {
  background-color: #333333 !important;
}

.bg-ddd {
  background-color: #DDDDDD !important;
}

.bg-666 {
  background-color: #666666 !important;
}

.bg-999 {
  background-color: #999999 !important;
}

.bg-eee {
  background-color: #EEEEEE !important;
}

.bg-f5 {
  background-color: #f5f5f5;
}

.bg-red {
  background-color: #FF0000 !important;
}

.bg-orange {
  background-color: #f8b03f !important;
}

.bg-yellow {
  background-color: #f5bc24 !important;
}

.bg-green {
  background-color: #008000 !important;
}

.bg-lightgreen {
  background-color: #90EE90 !important;
}

.bg-blue {
  background-color: #0a669b !important;
}

.bg-purple {
  background-color: #800080 !important;
}

.bg-mengban {
  background-color: rgba(68, 68, 68, 0.6);
}


/*******display布局，overflow,手形，通用公共**********/
.inline_div {
  display: inline-block;
}

.block {
  display: block !important;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.poiner {
  cursor: pointer;
}

.underline {
  padding-bottom: 1px;
  border-bottom: 1px solid transparent;
  border-color: initial;
  line-height: 1;
}

.overflow_hide {
  overflow: hidden;
}

.overflow_auto {
  overflow: auto;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.clear:after {
  clear: both;
  display: block;
  content: "";
  visibility: hidden;
}


/*flex布局-横向纵向*/
.flex-dom {
  display: flex !important;
  display: -webkit-box !important;
  display: -webkit-flex !important;
}

.flex-column {
  display: flex !important;
  display: -webkit-box !important;
  display: -webkit-flex !important;
  flex-direction: column;
  -webkit-flex-direction: column;
}

.flex-center {
  justify-content: center;
}

.flex-around {
  justify-content: space-around;
}

.flex-item {
  align-items: center;
}

/*flex布局-flex等分*/
.flex-1 {
  flex: 1;
  -webkit-flex: 1;
  display: block;
  min-width: 0;
}

.flex-2 {
  flex: 2;
  -webkit-flex: 2;
  display: block;
  min-width: 0;
}

.flex-3 {
  flex: 3;
  -webkit-flex: 3;
  display: block;
  min-width: 0;
}

.flex-4 {
  flex: 4;
  -webkit-flex: 4;
  display: block;
  min-width: 0;
}

.flex-5 {
  flex: 5;
  -webkit-flex: 5;
  display: block;
  min-width: 0;
}

/*flex布局-flex左右对齐*/
.flex-item-between {
  justify-content: space-between;
  -webkit-justify-content: space-between;
}

.flex-item-around {
  justify-content: space-around;
  -webkit-justify-content: space-around;
}

.flex-item-mid {
  align-items: center;
  -webkit-align-items: center;
}

.flex-wrap {
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
}

/*flex布局-flex上下对齐*/
.flex-vertical-top {
  align-items: flex-start;
}

.flex-vertical-bottom {
  align-items: flex-end;
}

.flex-item-stretch {
  align-items: stretch;
  -webkit-align-items: stretch;
}

/************这一行不要去掉*************/

/*字体font-weight*/
.fw_600 {
  font-weight: 600;
}

.fw_700 {
  font-weight: 700;
}

.font-w5 {
  font-weight: 500;
}

.font-w6 {
  font-weight: bold;
}

/**
 * 字号
 */
.font26 {
  font-size: 0.26px;
}

.font22 {
  font-size: 0.22px;
  line-height: 0.26px;
}

.font20 {
  font-size: 0.20px;
  line-height: 0.24px;
}

.font18 {
  font-size: 0.18px;
  line-height: 0.22px;
}

.font16 {
  font-size: 0.16px;
  line-height: 0.20px;
}

.font14 {
  font-size: 0.14px;
  line-height: 0.18px;
}

.font12 {
  font-size: 0.12px;
  line-height: 0.16px;
}

.font11 {
  font-size: 11px;
}

.font10 {
  font-size: 10px;
  line-height: 14px;
}

/**
 * 字体效果
 */
.font-family-medium {
  font-family: PingFangSC-Medium;
}

.font-family-din {
  font-family: DIN-Medium;
}



/*radius*/
.radius0 {
  border-radius: 0;
}

.radius2 {
  border-radius: 2px;
}

.radius3 {
  border-radius: 3px;
}

.radius4 {
  border-radius: 4px;
}

.radius5 {
  border-radius: 5px;
}

.radius6 {
  border-radius: 6px;
}

.radius7 {
  border-radius: 7px;
}

.radius8 {
  border-radius: 8px;
}

.radius9 {
  border-radius: 9px;
}

.radius10 {
  border-radius: 10px;
}

/*************margin 上下组合，左右组合 大小******************/
.m-v-5 {
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}

.m-v-10 {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

.m-v-15 {
  margin-top: 15px !important;
  margin-bottom: 15px !important;
}

.m-v-20 {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}

.m-v-25 {
  margin-top: 25px !important;
  margin-bottom: 25px !important;
}

.m-v-30 {
  margin-top: 30px !important;
  margin-bottom: 30px !important;
}

.m-both5 {
  margin-left: 5px !important;
  margin-right: 5px !important;
}

.m-both10 {
  margin-left: 10px !important;
  margin-right: 10px !important;
}

.m-both15 {
  margin-left: 15px !important;
  margin-right: 15px !important;
}

.m-both20 {
  margin-left: 20px !important;
  margin-right: 20px !important;
}

.m-both25 {
  margin-left: 25px !important;
  margin-right: 25px !important;
}

.m-both30 {
  margin-left: 30px !important;
  margin-right: 30px !important;
}


/**********************padding  上下组合，左右组合 大小*******************************/
.pad0 {
  padding: 0 !important;
}

.p-v-5 {
  padding-top: 5px;
  padding-bottom: 5px;
}

.p-v-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.p-v-15 {
  padding-top: 15px;
  padding-bottom: 15px;
}

.p-v-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.p-v-25 {
  padding-top: 25px;
  padding-bottom: 25px;
}

.p-v-30 {
  padding-top: 30px;
  padding-bottom: 30px;
}

.p-both5 {
  padding-left: 5px;
  padding-right: 5px;
}

.p-both10 {
  padding-left: 10px;
  padding-right: 10px;
}

.p-both15 {
  padding-left: 15px;
  padding-right: 15px;
}

.p-both20 {
  padding-left: 20px;
  padding-right: 20px;
}

.p-both25 {
  padding-left: 25px;
  padding-right: 25px;
}

.p-both30 {
  padding-left: 30px;
  padding-right: 30px;
}

/****************margin 各方向大小****************/
.m-l-5 {
  margin-left: 5px !important;
}

.m-l-10 {
  margin-left: 10px !important;
}

.m-l-15 {
  margin-left: 15px !important;
}

.m-l-20 {
  margin-left: 20px !important;
}

.m-l-25 {
  margin-left: 25px !important;
}

.m-l-30 {
  margin-left: 30px !important;
}

.m-r-5 {
  margin-right: 5px !important;
}

.m-r-10 {
  margin-right: 10px !important;
}

.m-r-15 {
  margin-right: 15px !important;
}

.m-r-20 {
  margin-right: 20px !important;
}

.m-r-25 {
  margin-right: 25px !important;
}

.m-r-30 {
  margin-right: 30px !important;
}

.m-t-5 {
  margin-top: 5px !important;
}

.m-t-10 {
  margin-top: 10px !important;
}

.m-t-15 {
  margin-top: 15px !important;
}

.m-t-20 {
  margin-top: 20px !important;
}

.m-t-25 {
  margin-top: 25px !important;
}

.m-t-30 {
  margin-top: 30px !important;
}

.m-t-35 {
  margin-top: 35px !important;
}

.m-t-40 {
  margin-top: 40px !important;
}

.m-t-45 {
  margin-top: 45px !important;
}

.m-t-50 {
  margin-top: 50px !important;
}

.m-b-5 {
  margin-bottom: 5px !important;
}

.m-b-10 {
  margin-bottom: 10px !important;
}

.m-b-15 {
  margin-bottom: 15px !important;
}

.m-b-20 {
  margin-bottom: 20px !important;
}

.m-b-25 {
  margin-bottom: 25px !important;
}

.m-b-30 {
  margin-bottom: 30px !important;
}

/**************padding 各方向单独大小*****************/
.p-l-5 {
  padding-left: 5px !important;
}

.p-l-10 {
  padding-left: 10px !important;
}

.p-l-15 {
  padding-left: 15px !important;
}

.p-l-20 {
  padding-left: 20px !important;
}

.p-l-25 {
  padding-left: 25px !important;
}

.p-l-30 {
  padding-left: 30px !important;
}

.p-l-35 {
  padding-left: 35px !important;
}

.p-l-40 {
  padding-left: 40px !important;
}

.p-l-45 {
  padding-left: 45px !important;
}

.p-l-50 {
  padding-left: 50px !important;
}

.p-r-5 {
  padding-right: 5px !important;
}

.p-r-10 {
  padding-right: 10px !important;
}

.p-r-15 {
  padding-right: 15px !important;
}

.p-r-20 {
  padding-right: 20px !important;
}

.p-r-25 {
  padding-right: 25px !important;
}

.p-r-30 {
  padding-right: 30px !important;
}

.p-r-35 {
  padding-right: 35px !important;
}

.p-r-40 {
  padding-right: 40px !important;
}

.p-r-45 {
  padding-right: 45px !important;
}

.p-r-50 {
  padding-right: 50px !important;
}

.p-t-5 {
  padding-top: 5px !important;
}

.p-t-10 {
  padding-top: 10px !important;
}

.p-t-15 {
  padding-top: 15px !important;
}

.p-t-20 {
  padding-top: 20px !important;
}

.p-t-25 {
  padding-top: 25px !important;
}

.p-t-30 {
  padding-top: 30px !important;
}

.p-t-35 {
  padding-top: 35px !important;
}

.p-t-40 {
  padding-top: 40px !important;
}

.p-t-45 {
  padding-top: 45px !important;
}

.p-t-50 {
  padding-top: 50px !important;
}

.p-t-full {
  padding-top: 100% !important;
}

.p-b-5 {
  padding-bottom: 5px !important;
}

.p-b-10 {
  padding-bottom: 10px !important;
}

.p-b-15 {
  padding-bottom: 15px !important;
}

.p-b-20 {
  padding-bottom: 20px !important;
}

.p-b-25 {
  padding-bottom: 25px !important;
}

.p-b-30 {
  padding-bottom: 30px !important;
}

.p-b-35 {
  padding-bottom: 35px !important;
}

.p-b-40 {
  padding-bottom: 40px !important;
}

.p-b-45 {
  padding-bottom: 45px !important;
}

.p-b-50 {
  padding-bottom: 50px !important;
}

/**************padding 大小***************/
.pad5 {
  padding: 5px !important;
}

.pad10 {
  padding: 10px !important;
}

.pad15 {
  padding: 15px !important;
}

.pad20 {
  padding: 20px !important;
}

.pad25 {
  padding: 25px !important;
}

.pad30 {
  padding: 25px !important;
}

.pad35 {
  padding: 35px !important;
}

.pad40 {
  padding: 40px !important;
}

.pad0 {
  padding: 0 !important;
}

/*
1rem=100px的rem单位
*/
.p-both5r {
  padding-left: 0.05rem;
  padding-right: 0.05rem;
}

.p-both10r {
  padding-left: 0.1rem;
  padding-right: 0.1rem;
}

.p-both15r {
  padding-left: 0.15rem;
  padding-right: 0.15rem;
}

.p-both20r {
  padding-left: 0.2rem;
  padding-right: 0.2rem;
}

.p-both25r {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

.p-both30r {
  padding-left: 0.3rem;
  padding-right: 0.3rem;
}

.p_both40r {
  padding-left: 0.4rem;
  padding-right: 0.4rem;
}

.p-both50r {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.p-v-5r {
  padding-top: 0.05rem;
  padding-bottom: 0.05rem;
}

.p-v-10r {
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
}

.p-v-15r {
  padding-top: 0.15rem;
  padding-bottom: 0.15rem;
}

.p-v-20r {
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
}

.p-v-25r {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.p-v-30r {
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
}

/***************padding-rem 各个方向单独大小********************/
.p-l-5r {
  padding-left: 0.05rem !important;
}

.p-l-10r {
  padding-left: 0.1rem !important;
}

.p-l-15r {
  padding-left: 0.15rem !important;
}

.p-l-20r {
  padding-left: 0.2rem !important;
}

.p-l-25r {
  padding-left: 0.25rem !important;
}

.p-l-30r {
  padding-left: 0.3rem !important;
}

.p-l-35r {
  padding-left: 0.35rem !important;
}

.p-l-40r {
  padding-left: 0.4rem !important;
}

.p-l-45r {
  padding-left: 0.45rem !important;
}

.p-l-50r {
  padding-left: 0.5rem !important;
}

.p-r-5r {
  padding-right: 0.05rem !important;
}

.p-r-10r {
  padding-right: 0.1rem !important;
}

.p-r-15r {
  padding-right: 0.15rem !important;
}

.p-r-20r {
  padding-right: 0.2rem !important;
}

.p-r-25r {
  padding-right: 0.25rem !important;
}

.p-r-30r {
  padding-right: 0.3rem !important;
}

.p-r-35r {
  padding-right: 0.35rem !important;
}

.p-r-40r {
  padding-right: 0.4rem !important;
}

.p-r-45r {
  padding-right: 0.45rem !important;
}

.p-r-50r {
  padding-right: 0.5rem !important;
}

.p-t-5r {
  padding-top: 0.05rem !important;
}

.p-t-10r {
  padding-top: 0.1rem !important;
}

.p-t-15r {
  padding-top: 0.15rem !important;
}

.p-t-20r {
  padding-top: 0.2rem !important;
}

.p-t-25r {
  padding-top: 0.25rem !important;
}

.p-t-30r {
  padding-top: 0.3rem !important;
}

.p-t-35r {
  padding-top: 0.35rem !important;
}

.p-t-40r {
  padding-top: 0.4rem !important;
}

.p-t-45r {
  padding-top: 0.45rem !important;
}

.p-t-50r {
  padding-top: 0.5rem !important;
}

.p-b-5r {
  padding-bottom: 0.05rem !important;
}

.p-b-10r {
  padding-bottom: 0.1rem !important;
}

.p-b-15r {
  padding-bottom: 0.15rem !important;
}

.p-b-20r {
  padding-bottom: 0.2rem !important;
}

.p-b-25r {
  padding-bottom: 0.25rem !important;
}

.p-b-30r {
  padding-bottom: 0.3rem !important;
}

.p-b-35r {
  padding-bottom: 0.35rem !important;
}

.p-b-40r {
  padding-bottom: 0.4rem !important;
}

.p-b-45r {
  padding-bottom: 0.45rem !important;
}

.p-b-50r {
  padding-bottom: 0.5rem !important;
}

/****************padding-rem 大小*****************/
.pad5r {
  padding: 0.05rem !important;
}

.pad10r {
  padding: 0.1rem !important;
}

.pad15r {
  padding: 0.15rem !important;
}

.pad20r {
  padding: 0.2rem !important;
}

.pad25r {
  padding: 0.25rem !important;
}

.pad30r {
  padding: 0.3rem !important;
}

.pad35r {
  padding: 0.35rem !important;
}

.pad40r {
  padding: 0.4rem !important;
}

/**
 * 字号
 */
.font26r {
  font-size: 0.26rem;
}

.font22r {
  font-size: 0.22rem;
}

.font20r {
  font-size: 0.20rem;
  /* line-height: 0.24px; */
}

.font18r {
  font-size: 0.18rem;
  /* line-height: 0.22px; */
}

.font16r {
  font-size: 0.16rem;
  /* line-height: 0.20px; */
}

.font14r {
  font-size: 0.14rem;
  /* line-height: 0.18px; */
}

.font12r {
  font-size: 0.12rem;
  /* line-height: 0.16px; */
}

.font11r {
  font-size: 0.11rem;
}

.font10r {
  font-size: 0.10rem;
  /* line-height: 14px; */
}