/**
 * 字号
 */
.font-size-26 {
  font-size: 26px;
}
.font-size-22 {
  font-size: 22px;
  line-height: 26px;
}
.font-size-20 {
  font-size: 20px;
  line-height: 24px;
}
.font-size-18 {
  font-size: 18px;
  line-height: 22px;
}
.font-size-16 {
  font-size: 16px;
  line-height: 20px;
}
.font-size-14 {
  font-size: 14px;
  line-height: 18px;
}
.font-size-12 {
  font-size: 12px;
  line-height: 16px;
}
.font-size-11 {
  font-size: 11px;
}
.font-size-10 {
  font-size: 10px;
  line-height: 14px;
}
/**
 * 字体效果
 */
.font-family-medium {
  font-family: PingFangSC-Medium;
}
.font-family-din {
  font-family: DIN-Medium;
}
/*字体font-weight*/
.fw_600 {
  font-weight: 600;
}
.fw_700 {
  font-weight: 700;
}
.font-w5 {
  font-weight: 500;
}
.font-w6 {
  font-weight: bold;
}
/*********字体颜色********/
.color-parent {
  color: inherit !important;
}
.color-ccc {
  color: #ccc !important;
}
.color-eee {
  color: #eee !important;
}
.color-fff {
  color: #fff !important;
}
.color-000 {
  color: #000 !important;
}
.color-333 {
  color: #333 !important;
}
.color-555 {
  color: #555 !important;
}
.color-666 {
  color: #666 !important;
}
.color-999 {
  color: #999 !important;
}
.color-red {
  color: #E10F0F !important;
}
.color-orange {
  color: #f8b03f !important;
}
.color-yellow {
  color: #f5bc24 !important;
}
.color-green {
  color: #32c52a !important;
}
.color-lightgreen {
  color: #90EE90 !important;
}
.color-blue {
  color: #3569c5 !important;
}
.color-gray {
  color: #999999 !important;
}
/************去除inline-block间隙*************/
.font0 {
  font-size: 0px !important;
}
.font0 > * {
  font-size: initial;
  display: inline-block;
}
/************字体大小font-size*************/
.font10 {
  font-size: 10px !important;
}
.font12 {
  font-size: 12px !important;
}
.font13 {
  font-size: 13px !important;
}
.font14 {
  font-size: 14px !important;
}
.font15 {
  font-size: 15px !important;
}
.font16 {
  font-size: 16px !important;
}
.font18 {
  font-size: 18px !important;
}
.font20 {
  font-size: 20px !important;
}
.font22 {
  font-size: 22px !important;
}
.font24 {
  font-size: 24px !important;
}
.font26 {
  font-size: 26px !important;
}
.font28 {
  font-size: 28px !important;
}
.font30 {
  font-size: 30px !important;
}
.font32 {
  font-size: 32px !important;
}
.font34 {
  font-size: 34px !important;
}
.font36 {
  font-size: 36px !important;
}
.font38 {
  font-size: 38px !important;
}
.font40 {
  font-size: 40px !important;
}
.font42 {
  font-size: 42px !important;
}
.font44 {
  font-size: 44px !important;
}
/*字体rem大小-font-size*/
.font14r {
  font-size: 0.14rem !important;
}
.font15r {
  font-size: 0.15rem !important;
}
.font16r {
  font-size: 0.16rem !important;
}
.font18r {
  font-size: 0.18rem !important;
}
.font20r {
  font-size: 0.2rem !important;
}
.font22r {
  font-size: 0.22rem !important;
}
.font24r {
  font-size: 0.24rem !important;
}
.font25r {
  font-size: 0.25rem !important;
}
.font26r {
  font-size: 0.26rem !important;
}
.font28r {
  font-size: 0.28rem !important;
}
.font30r {
  font-size: 0.3rem !important;
}
.font32r {
  font-size: 0.32rem !important;
}
.font34r {
  font-size: 0.34rem !important;
}
.font36r {
  font-size: 0.36rem !important;
}
.font38r {
  font-size: 0.38rem !important;
}
.font40r {
  font-size: 0.4rem !important;
}
.font42r {
  font-size: 0.42rem !important;
}
.font44r {
  font-size: 0.44rem !important;
}
/************这一行不要去掉*************/
