header {
  position: fixed;
  top: 0;
  left: 0;
  width: 90.5vw;
  padding: 0.2rem 0.15rem 0.05rem 0.15rem;
  z-index: 100;
  background-color: #ffffff;
}
.home-swiper {
  padding-top: 0.5rem;
}
/*轮播样式*/
.my-swipe .van-swipe-item img {
  height: 100%;
  width: 100%;
}
.menueList {
  width: 0.5rem;
}
.menueList img {
  width: 0.25rem;
}
.column {
  column-count: 2;
  column-gap: normal;
  padding-bottom: 50px;
}
